---
import { Icon } from "astro-icon";
---

<header>
    <div class="grid-layout">
        <a href="/">
            <Icon name="logo" size={40} />
        </a>
    </div>
</header>

<style>
    header {
        position: relative;
        z-index: 40;
    }

    div {
        padding: var(--gap-sm) 0;
    }
</style>