---
import { Icon } from "astro-icon";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="grid-layout">
    <div>
        <a href="/">
            <Icon name="logo" size={40} />
            <span>strobook</span>
        </a>
        <ThemeToggle />
    </div>
</header>

<style>
    header {
        background: var(--color-neutral-50);
        position: relative;
        z-index: 40;
        border-bottom: 1px solid var(--color-neutral-200);
    }

    div {
        padding: var(--gap-sm) 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    a {
        display: flex;
        align-items: center;
        gap: var(--gap-xs);
        text-decoration: none;
        color: inherit;
    }

    a :global(svg) {
        margin-left: -6px;
        margin-right: -10px;
    }
</style>