---
import { Icon } from "astro-icon";
import Button from "./Button.astro";
import Drawer from "./Drawer.astro";
import LeftSidebar from "./LeftSidebar.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="grid-layout">
    <div>
        <a href="/">
            <Icon name="logo" size={40} />
            <span>strobook</span>
        </a>
        <div>
            <ThemeToggle />
            <Button theme="hollow" id="menutoggle">
                <span>M</span>
            </Button>
        </div>
    </div>
</header>

<Drawer>
    <LeftSidebar />
    <ThemeToggle />
</Drawer>

<script>
    const button = document.getElementById('menutoggle');
    const drawer = document.querySelector('header + app-drawer');

    button!.onclick = () => {
        drawer!.toggleAttribute('open');
    }
</script>

<style>
    header {
        background: var(--color-neutral-50);
        position: relative;
        z-index: 40;
        border-bottom: 1px solid var(--color-neutral-200);
    }

    header > div {
        padding: var(--gap-sm) 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    a {
        display: flex;
        align-items: center;
        gap: var(--gap-xs);
        text-decoration: none;
        color: inherit;
    }

    a :global(svg) {
        margin-left: -6px;
        margin-right: -10px;
    }

    button {
        background: transparent;
        border: transparent;
        color: inherit;
    }
</style>