---
import type { MarkdownHeading } from 'astro';

export interface Props {
    headings: MarkdownHeading[]
    current?: string
}

const { headings, current } = Astro.props as Props
---

<h2>On this page</h2>
<ul>
    <li class:list={{ 'active': current === 'overview' }}>
        <a href="#overview">Overview</a>
    </li>
    {headings
        .filter(({ depth }) => depth > 1 && depth < 4)
        .map((heading) => (
            <li
                class={`depth-${heading.depth} ${
                    current === heading.slug ? 'active' : ''
                }`.trim()}
            >
                <a href={`#${heading.slug}`}>{heading.text}</a>
            </li>
        ))}
</ul>

<style>
    h2 {
        font-size: var(--text-lg);
        padding-block-end: var(--gap-2xs);
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
        padding: 0;
        list-style: none;
    }
</style>