---
import "../assets/styles/reset.css";
import "../assets/styles/core.css";
import "../assets/styles/theme.css";
import Header from "../components/Header.astro";
import SEO from "../components/SEO.astro";
import type { Props as SEOProps } from "../components/SEO.astro";
import site from "../data/site.js";

export interface Props extends Partial<SEOProps> { }

const { ...seo } = Astro.props as Props
const seoProps = {
    ...site,
    name: site.title,
    ...seo
}
---

<html>
	<head>
        <!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <SEO {...seoProps} />
    </head>

    <body>
        <Header />
        <main class="grid-layout">
            <slot />
        </main>
    </body>
</html>

<style>
    html {
        height: 100%;
    }

    body {
        min-height: 100%;
    }

    html, body {
        background-color: var(--color-neutral-50);
        color: var(--color-neutral-900);
    }

    body {
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }
</style>