---
import type { MarkdownInstance, MarkdownHeading } from "astro";
import Layout from "./Base.astro";
import type { Props as LayoutProps } from "./Base.astro";
import LeftSidebar from "../components/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar.astro";

export interface Props extends MarkdownInstance<LayoutProps> {
    headings: MarkdownHeading[]
}

const { frontmatter, headings } = Astro.props as Props
---

<Layout {...frontmatter}>
    <div>
        <aside>
            <LeftSidebar />
        </aside>

        <article>
            <slot />
        </article>

        <aside>
            <RightSidebar headings={headings} />
        </aside>
    </div>
</Layout>

<style>
    aside:first-of-type {
        padding-inline-end: 2.5vw;
        border-inline-end: 1px solid var(--color-neutral-200);
    }

    aside:last-of-type {
        padding-inline-start: 2.5vw;
        border-inline-start: 1px solid var(--color-neutral-200);
    }

    div {
        display: grid;
        grid-template-columns: minmax(20ch, auto) 1fr minmax(20ch, auto);
        column-gap: var(--gap-xl);
    }

    aside, article {
        padding-top: var(--gap-lg);
    }
</style>